@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: #0f172a;
}

.text-primary-foreground {
  color: #f8fafc;
}

.bg-card {
  background-color: #ffffff;
}

.text-card-foreground {
  color: #0f172a;
}

.text-muted-foreground {
  color: #64748b;
}

.border-input {
  border-color: #e2e8f0;
}
